<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dev Girl - Cursos</title>

    <link rel="stylesheet" href="../styles/courses.css">
    <link rel="stylesheet" href="../styles/global.css">
    <link rel="stylesheet" href="../styles/responsive.css">
    

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,700&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    
</head>
<body>
    <header>
        <a id="logo" href="./index.html">
            Dev Girl
        </a>

        <div class="menu-toggle"></div>
        
        <nav class="navbar">
            <ul id='navbar__list'>
                <li class="list__item">
                    <a href="./groups.html">
                        Grupos
                    </a>
                </li>
                <li class="list__item">
                    <a href="./courses.html">
                        Cursos
                    </a>
                </li>
                <li class="list__item">
                    <a href="#">
                        Dicas
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <h2>Cursos</h2>
        <div class="container">
            <ul>
                <li>
                    <a href="https://reprograma.com.br/">
                        <img src="https://pbs.twimg.com/profile_images/784516442813243392/uOXmGCOW_400x400.jpg" alt="Logo da reprograma">
                        <figcaption>{reprograma}</figcaption>
                    </a>
                </li>
                <li>
                    <a href="https://www.laboratoria.la/br">
                        <img src="https://pbs.twimg.com/profile_images/1410596256745852937/7-HUaCF5_400x400.jpg" alt="Logo da Laboratoria">
                        <figcaption>Laboratoria</figcaption>
                    </a>
                </li>
                <li>
                    <a href="https://www.programaria.org/">
                        <img src="https://pbs.twimg.com/profile_images/1403441620662603781/9CJcA2aI_400x400.jpg" alt="Logo da Programaria">
                        <figcaption>Programaria</figcaption>
                    </a>
                </li>
            </ul>
        </div>
    </main>
    <script src="../../scripts/menu-toggle.js"></script>
</body>
</html>