<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dev Girl - Groups</title>

    <link rel="stylesheet" href="../styles/groups.css">
    <link rel="stylesheet" href="../styles/global.css">
    <link rel="stylesheet" href="../styles/responsive.css">
    

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,700&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    
</head>
<body>
    <header>
        <a id="logo" href="./index.html">
            Dev Girl
        </a>

        <div class="menu-toggle"></div>

        <nav class="navbar">
            <ul id='navbar__list'>
                <li class="list__item">
                    <a href="groups.html">
                        Grupos
                    </a>
                </li>
                <li class="list__item">
                    <a href="courses.html">
                        Cursos
                    </a>
                </li>
                <li class="list__item">
                    <a href="#">
                        Dicas
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <h2>Discord</h2>
        <div class="container">
            <ul>
                <li>
                    <a href="">
                        <img src="" alt="">
                        <figcaption></figcaption>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="" alt="">
                        <figcaption></figcaption>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="" alt="">
                        <figcaption></figcaption>
                    </a>
                </li>
            </ul>
        </div>

        <h2>Telegram</h2>
        <div class="container">
            <ul>
                <li>
                    <a href="https://t.co/MpftX2q6He?amp=1">
                        <img src="https://pbs.twimg.com/card_img/1409682551636213762/vHosddi1?format=jpg&name=240x240"
                        alt="Mulheres na computação">
                        <figcaption>Mulheres na computação</figcaption>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="" alt="">
                        <figcaption></figcaption>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="" alt="">
                        <figcaption></figcaption>
                    </a>
                </li>
            </ul>
        </div>

        <h2>Twitter</h2>
        <div class="container">
            <ul>
                <li>
                    <a href="https://twitter.com/devsjavagirl">
                        <img src="https://pbs.twimg.com/profile_images/1268221909654740992/vRz7ydTM_400x400.jpg"
                        alt="Devs JavaGirl">
                        <figcaption>Devs JavaGirl</figcaption>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/MulheresProduto">
                        <img src="https://pbs.twimg.com/profile_images/1007674012091273221/JmXVZbnJ_400x400.jpg"
                        alt="Mulheres de Protudo">
                        <figcaption>Mulheres de Protudo</figcaption>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/beerandcodeyt">
                        <img src="https://pbs.twimg.com/profile_images/1387313359914250241/JK-_NNHV_400x400.jpg"
                        alt="Beer and Code">
                        <figcaption>Beer and Code</figcaption>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/feminis_tech">
                        <img src="https://pbs.twimg.com/profile_images/1403804873087459334/v-S9q_i4_400x400.jpg"
                        alt="Feministech">
                        <figcaption>Feministech</figcaption>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/PyLadiesBrasil">
                        <img src="https://pbs.twimg.com/profile_images/1150461616523227137/ANsmViBz_400x400.jpg"
                        alt="PyLadies Brasil">
                        <figcaption>PyLadies Brasil</figcaption>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/minasprogramam">
                        <img src="https://pbs.twimg.com/profile_images/1155084673439191040/rxpoJlT9_400x400.png"
                        alt="Minas Programam">
                        <figcaption>minas programam</figcaption>
                    </a>
                </li>
            </ul>
        </div>
    </main>
    <script src="../../scripts/menu-toggle.js"></script>
</body>
</html>