body{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* NAVBAR */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    border-bottom: 2px solid rgba(255, 255, 255, 0.253);
}

#logo {
    font: 700 3rem 'Ubuntu', sans-serif;
    color: var(--white);
    position: relative;
    margin-left: 3rem;
}

#logo::before{
    content: '.';
    font: 700 4rem 'Ubuntu', sans-serif;
    color: #DF44BC;
    position: absolute;
    top: -28px;
    right: 2.15rem;
}

.navbar{
    width: 30%;
    z-index: 2;
    margin-right: 3rem;
}

#navbar__list{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.list__item a{
    font: 600 2rem 'Montserrat', sans-serif;
    color: rgba(255, 255, 255, 0.651);
    position: relative;
}

.list__item a:hover{
    color: var(--white);
}

.list__item a:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2.6rem;
    left: 0;
    background-color: var(--white);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.list__item a:hover:before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}



#item__courses a:before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

#item__courses a{
    color: var(--white);
}

@media (max-width: 631.98px) {

    .list__item a:hover{
        color: var(--black);
    }
    
    #item__courses a{
        color: var(--black);
    }
}



/* CONTAINER MAIN */


main{
    margin-top: 5rem;
}

h2{
    margin: 2.5rem 3rem;
    color: var(--white);
    font: 700 2rem 'Ubuntu', sans-serif;
}

#container__courses{
    overflow: auto;
    height: inherit;

    /* CUSTOM SCROLLBAR MOZ */
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.253) transparent;
}

/* CUSTOM SCROLLBAR CHROME & SAFARI */

.container{
    height: 25vh;
    margin: 2.5rem 3rem;
    display: flex;

}

.container ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container ul li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 2rem;
}

.container ul li a img{
    border-radius: 50%;
    width: 10rem;
}

.container ul li a figcaption{
    font: 600 1.5rem 'Montserrat', sans-serif;
    width: 10rem;
    text-align: center;
    color: var(--white);
    margin-top: .7rem;
}