*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

html{
    --purple: #30057B;
    --black: #25243E;
    --white:#FAFAFA;

    font-size: 62.5%;
}

.container-glass{
    background: linear-gradient(to left bottom, rgba(0, 0, 0, 0.596), rgba(0, 0, 0, 0.295));
    border-radius: 20px;
    width: 90%;
    height: 80%;
}

body{
    height: 100vh;
    background: #ff00cc;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #333399, #ff00cc);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #333399, #ff00cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



/* font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif; */

