body{
    display: flex;
    align-items: center;
    justify-content: center;
}



/* NAVBAR */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    border-bottom: 2px solid rgba(255, 255, 255, 0.253);
}

#logo {
    font: 700 3rem 'Ubuntu', sans-serif;
    color: var(--white);
    position: relative;
    margin-left: 3rem;
}

#logo::before{
    content: '.';
    font: 700 4rem 'Ubuntu', sans-serif;
    color: #DF44BC;
    position: absolute;
    top: -28px;
    right: 2.15rem;
}

.navbar{
    width: 30%;
    z-index: 2;
    margin-right: 3rem;
}

#navbar__list{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.list__item a{
    font: 600 2rem 'Montserrat', sans-serif;
    color: rgba(255, 255, 255, 0.651);
    position: relative;
}

.list__item a:hover{
    color: var(--white);
}

.list__item a:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2.6rem;
    left: 0;
    background-color: var(--white);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.list__item a:hover:before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

@media (max-width: 631.98px) {

    .list__item a:hover{
        color: var(--black);
    }
}

/* CONTAINER MAIN */

#banner{
    display: grid;
    grid-template-columns: 50% 50% ;
    grid-template-rows: 1fr;
    grid-template-areas: 
    'left right';
}

#banner__left{
    grid-area: left;
    height: 70vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#banner__left h1{
    font: 700 4rem  'Montserrat', sans-serif;
    margin-left: 3rem;
    color: var(--white);
}

#banner__left p{
    font: 500 3rem 'Montserrat', sans-serif;
    margin: 3rem 3rem;
    color: var(--white);

}

#banner__right{
    grid-area: right;
    display: flex;
    justify-content: center;
    height: 70vh;
    overflow: hidden;
    align-items: center;
}

lottie-player{
    width: 50rem;
    height: auto;
    z-index: 2;
    animation-name: expand;
    animation-duration: 1.75s;
}

.circle{
    background: linear-gradient(to right, #30057B, #30057bcc);
    background: -webkit-linear-gradient(to right, #30057B, #30057bcc);
    width: min(80rem, 60%);
    height: 80%;
    position: absolute;
    top: -11rem;
    right: -15rem;
    border-radius: 20%;
    transform: rotateZ(25deg);
}

@keyframes expand {
    from{
        transform: scaleX(0);
    }

    to{
        transform: scaleX(1);
    }
}